*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color:#F6C90E;
    --stroke-color:#f6c80ea5;
    --dark-color:#040404;
    --da-color:rgba(255, 255, 255, 0.1);
    --ad-color:rgba(255, 255, 255, 0.12);
    --black-color:rgba(0, 0, 0, 0.9);
    --overlay-color:rgba(0, 0, 0, 0.8);
    --over-color:rgba(0, 0, 0, 0.6);
    --overa-color:rgba(255, 255, 255, 0.07);
    --o-color:rgba(0, 0, 0, 0.4);
    --light-color:aliceblue;
    --bg-light:rgba(0, 0, 0, 0.26);
    --opacity-color:rgba(255, 255, 255, 0.12);
    --lighty-color:rgba(255, 255, 255, 0.551);
    --content-color:#040404bb;
}
body{
    font-family: 'Poppins', sans-serif;
}
.text-theme{
    color: var(--theme-color) !important;
}
.bg-theme{
    background-color: var(--theme-color) !important;
}
.transition{
    transition: all 0.3s linear !important;
}
a{
    text-decoration: none !important;
}
p{
    font-size: 14px !important;
}
.py{
    padding: 100px 0;
}
body::before {
    content: "";
    position: fixed;
    background: var(--dark-color) url(../images/map-color-overlay.png) top right no-repeat;
    opacity: 0.8;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
/* header */
header{
    background: var(--black-color);
    z-index: 9;
}
.navbar-nav li a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--theme-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
.navbar-nav li a:hover::after{
    top: 100% !important;
    opacity: 1;
    visibility: visible;
}
.navbar-nav li a:hover{
    color: var(--theme-color) !important;
}
.logo h2 a{
    background: linear-gradient(8deg , var(--theme-color) , var(--lighty-color));
    -webkit-background-clip: text;
    color: transparent;
}
.logo h2 a:hover{
    -webkit-text-stroke: 1px var(--stroke-color) !important;
}
header.active{
    background-color:var(--black-color) !important;
    position: fixed !important;
    animation: abc 0.5s linear;
}
@keyframes abc{
	0%{
		transform:translatey(-100%);
	}
	100%{
		transform:translatey(0);
	}
}
.contact-contain , form{
    background: var(--over-color);
}
.contact{
    background: var(--o-color);
}
.contact-title span::after , .form-title span::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1.5px;
    display: inline-block;
    background: var(--theme-color);
    margin: 0 10px;
    top: 50%;
    left: 100%;
}
.contact-content{
    background:var(--overa-color) !important;
    transition: all 0.3s linear;
}
.contact-content:hover{
    background: var(--ad-color) !important;
}
.icon{
    min-width: 70px;
    height: 70px;
    background: var(--da-color);
    border-radius: 50%;
}
.ip{
    background: var(--overlay-color);
    outline: none !important;
    caret-color: var(--theme-color);
    color: var(--light-color) !important;
}
