/* xs */
@media(max-width:575px){
    .navbar-nav{
        flex-direction: column !important;
        margin-left: 24px;
    }
    .collapse:not(.show){
        display: block !important;
    }
}
/* sm */
@media (min-width:576px) {
    .container{
        max-width: 540px;
    }
    .navbar-nav{
        flex-direction: column !important;
        margin-left: 8px;
    }
    .collapse:not(.show){
        display: block !important;
    }
}
/* md */
@media (min-width:768px) {
    .container{
        max-width: 720px;
    }
    .navbar-nav{
        margin-left: 17px;
    }
}
/* lg */
@media (min-width:992px)  {
    .container{
        max-width: 960px;
    }
    .navbar-nav{
        margin-left: 43px;
    }
}
/* xl */
@media (min-width:1200px) {
    .container{
        max-width: 1140px;
    }
    .navbar-nav{
        flex-direction: row !important;
        margin-left: 0 !important;
    }
    .collapse:not(.show){
        display: flex !important;
    }
}
@media (min-width:1400px) {
    .container{
        max-width: 1320px;
    }
    .navbar-nav{
        flex-direction: row !important;
        margin-left: 0 !important;
    }
    .collapse:not(.show){
        display: flex !important;
    }
}