/* XL */
@media(max-width:1399px){
    .container{
        max-width:1140;
    }
}
/* LG */
@media(max-width:1199px){
    .container{
        max-width:960;
    }
}
/* MD */
@media(max-width:991px){
    .container{
        max-width:720;
    }
    .w-md-2{
        width:50%;
    }
    .w-md-3{
        width:33.33%;
    }
    .container {
        max-width: 960px;
    }
    .toggle {
        display: flex;
    }
    aside{
        display: none;  
    }
    main{
        margin-left: 0;
        width: 100%;
    }
}
/* SM */
@media(max-width:767px){
    .container{
        max-width:540;
    }
    .w-sm-1{
        width:100%;
    }
}
/* XS */
@media(max-width:575px){
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .w-xs-1 {
        width: 100%;
    }
}